<div class="container d-flex flex-column align-items-center justify-content-center gap-5 mt-5 bg-light bg-gradient">
  <div class="mt-5 mb-5">
    <h1 class="text-uppercase font-monospace fs-1 fw-bold text-muted">Multipurpose Budget App</h1>
  </div>
</div>